*{
    color: blue
}

h2, span{
    color: red;
    width: 300px;
}
/**
esto es un comentario
*/

h1{ 
    font-family: 'Roboto', sans-serif;
    border: 3px solid black;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-weight: bold;
    color: grey;
}

h2 {
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(255, 0, 0);
    font-size: 23px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: brown;
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
  
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px; 
}